@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
  }

.title_main {
    text-align: center;
    font-family: 'Inter';
    font-weight: 700;
    margin-bottom: 0;
}